<div class="h-screen" data-controller="pipeline-builder"
     data-pipeline-builder-pipeline-id-value="<%= @pipeline.id %>"
     data-pipeline-builder-pipeline-name-value="<%= @pipeline.name %>">
  <!-- React component will mount here -->
</div>